.main {
    max-width: 1166px;
    margin: 197px auto 0 auto;
}

.main .recent #line {
    width: 171px;
    color: #000000;
    margin-right: 24px;
}

.main .recent {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.main .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .main-content .content {
    text-align: center;
}

.main .main-content .content > p:nth-child(2) {
    margin-bottom: 23px;
    font-size: 14px;
}

.main .recent > p:nth-child(2), .main .main-content .content > p:first-child {
    font-size: 36px;
}
