.navbar {
    max-width: 1107px;
    height: 48px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    padding: 35px 0px;
}

.navbar .logo {
    margin-right: auto;
    color: #80753D;
    font-weight: bold;
    font-size: 28px;
}

.navbar > div img {
    display: block;
}

.navbar .test {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar .test .login {
    display: flex;
}

.navbar .test .login p {
    margin-left: 8px;
    color: #333333;
    font-size: 18px;
}

.navbar .test .search {
    width: 32px;
    height: 32px;
}

.navbar .test .user, .cart-icon, .menu {
    width: 24px;
    height: 24px;
}

.navbar .test .cart {
    background: var(--primary);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Respnsive design */
/* mobile screens styles */
@media screen and (max-width: 415px) {
    .navbar {
        max-width: 414px;
        margin: 0 2em; 
        padding: 50px 0px;
    }

    .navbar .test .login {
        display: none;
    }

    .navbar .test .search {
        display: none;
    }
}
/* Small and mobile screens styles */
@media screen and (max-width: 376px) {
    .navbar {
        max-width: 300px;
        padding: 50px 0;
    }

    .navbar .test .login {
        display: none;
    }

    .navbar .test .search {
        display: none;
    }
}

/* Very small screens styles */
@media screen and (max-width: 281px) {
    .navbar {
        max-width: 250px;
        padding: 40px 0px;
    }

    .navbar .test .cart {
        display: none;
    }
}

/* tablets and laptop styles */
@media screen and (max-width: 620px) {

}

/* Large tablets and laptop styles */
@media screen and (max-width: 960px) {

}

/* Desktop and large screens styles */
@media screen and (max-width: 1500px) {

}
